#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=python3 "Enter complete path to nqc_main.py here"
Name=NordVPNQuickConnect